<h1>About</h1>
<p>
  A passionate programmer who is aiming to become to web developer. Some of my
  projects are listed below.
</p>

<div fxLayout="row wrap" fxLayout.xs="column">
  <!-- Single "Responsive" Card-->
  <div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
      <mat-card-header>
        <mat-card-title><b>Day In</b></mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        class="album-cover"
        src="https://github.com/minhhang107/DayInBooking/blob/main/public/SharedScreenshot1.jpg?raw=true"
        alt="album art"
      />
      <div class="description">
        An Airbnb simulation website that implements NodeJS, MongoDB and
        Bootstrap.
        <br /><br />
        Visit the website
        <a href="https://sheltered-plateau-53659.herokuapp.com/">here</a>
      </div>
    </mat-card>
  </div>
  <!-- -->

  <div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
      <mat-card-header>
        <mat-card-title><b>The Very Berry</b></mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        class="album-cover"
        src="https://github.com/minhhang107/theveryberry/blob/master/images/SharedScreenshot2.jpg?raw=true"
        alt="album art"
      />
      <div class="description">
        A simplified front-end online cake store that implements CSS and Vanilla
        Javascript.
        <br /><br />
        Visit the website
        <a href="https://minhhang107.github.io/theveryberry/index.html">here</a>
      </div>
    </mat-card>
  </div>
  <!-- -->
</div>
