<h1>{{ album.name }}</h1>
<p>Full track listing for {{ album.name }}</p>
<p>
  Click the <mat-icon mat-list-icon>queue_music</mat-icon> icon to add a song to
  your favourites list
</p>

<div class="overlay" *ngIf="loading">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
    <div fxflex *ngIf="album.images">
      <img
        src="{{ album.images[1].url }}"
        alt="album cover"
        [style.margin]="'10px'"
        [style.max-width]="'90%'"
        [style.background-size]="'cover'"
      />
    </div>
    <div fxFlex>
      <div [style.min-width]="'300px'" [style.margin]="'10px'">
        <strong>Record Label: </strong> {{ album.label }}<br />
        <strong>Release Date: </strong> {{ album.release_date }}<br /><br />
        <strong>Tracks:</strong> {{ album.total_tracks }}<br />
        <strong>Popularity: </strong>{{ album.popularity }}<br /><br />

        <mat-chip-list aria-label="Artist selection">
          <mat-chip *ngFor="let artist of album.artists">
            <a [routerLink]="['/artist', artist.id]">
              {{ artist.name }}
            </a>
          </mat-chip>
        </mat-chip-list>
        <br />

        <div *ngFor="let copyright of album.copyrights">
          {{ copyright.text }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list *ngIf="album.tracks">
  <!-- Single "Responsive" Material List Item-->
  <mat-list-item *ngFor="let track of album.tracks.items">
    <mat-icon mat-list-icon (click)="clickHandler(track)">queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >{{ track.track_number }}: {{ track.name }} -
          {{ (track.duration_ms / 60000).toFixed(2) }}
          <!-- Dec 4 -->
          <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="track.preview_url">
      <br /><audio controls [src]="track.preview_url"></audio>
    </div>
  </mat-list-item>

  <!-- -->
</mat-list>
